body {
  font-family: sans-serif;
  background: #e0e0e0;
}

.soccertimer-main h1 {
  font-size: 24pt;
}

.button-section {
  display: grid;
  grid-template-columns: 200px 200px;
  padding: 20px;
  gap: 20px;
}

.clock-section {
  display: grid;
  grid-template-columns: 120px 300px;
  gap: 20px;
  padding: 20px;
}

.clock-caption {
  vertical-align: bottom;
  text-align: right;
  font-size: 16pt;
}

.adjust-button-section {
  display: grid;
  grid-template-columns: 200px 200px;
  padding: 20px;
  gap: 40px;
}

.codepen-icon {
  width: 100%;
  font-size: 10pt;
  align-content: center;
}
